@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
html {
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
     
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: orangered;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #f45029;
  }
  a{
    color: white;
  }
body {
    width: 100%;
    height: fit-content;
    position: relative;
}
.responsive_menu {
    width: 100%;
    height: 0%;
    overflow: hidden;
    position: fixed;
    top: 60px;
    right: 0;
    z-index: 99;
    background: white;
    transition: all 0.55s ease-in-out;
}
.scale_x {
    width: 100% !important;
    height: 350px !important;
}
.backdrop {
    position: absolute;
    width: 100%;
    height: 0%;
    top: 60px;
    display: block;
    z-index: 99;
    background: rgba(0,0,0,0.6);
    z-index: 55;
}
.backdrop-display {
    height: 100% !important;
}

.ul_responsive_wraper {
    width: 100%;
    height: 100%;
}
.Heading__ul_res {
    color: #adadad; 
}
.res_res {
    display: none;
}
.ul_responsive {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1%;
    justify-content: space-between;
}
.res_links_wraper {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.li_responsive {
    width: 100%;
    list-style: none;
    color: black;
    font-size: 15px;
    text-align: center;
    padding: 3% 0px;
    text-decoration: none;
}
.li_info:nth-child(1) {
    border-top: #E5E4E2 1px solid;
}
.login_button_res {
    padding: 7px 22px;
    border: 1px solid black;
    border-radius: 30px;
    text-decoration: none;
    color: black;
    font-size: 14px;
}
.social_media_menu {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: transparent;
}
.bi {
    fill: black;
    width: 16px;
    height: 16px;
}
header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background: transparent;
    z-index: 9999;
    transition: all 0.35s ease-in-out;
}
.white_back {
    background: white !important;
}
nav {
    width: 93%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bars-wraper {
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 20px;
    cursor: pointer;
    display: none;
    pointer-events: none;
    align-items: flex-start;
    padding: 10px;
    padding-right: 0px;
    box-sizing: content-box;
    background: transparent;
    border: none;
}
.ul_header {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.li_header {
    width: 80px;
    height: 100%;
    font-size: 13px;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    position: relative;
    display: grid;
    place-items: center;
    color: white;
}
.li_header::after {
    content: '';
    width: 0;
    height: 0;
    background-color: orangered;
    position: absolute;
    bottom: 0;   
    left: 0;
    transition: all 200ms ease-in-out;
}
.li_header:hover::after {
    width: 100%;
    height: 2px;
}
.login_cart_wraper {
    display: flex;
    gap: 5px;
    flex-direction: row-reverse;
    align-items: center;
    position: relative;
}
.login_cart_wraper_res {
    display: none;
    gap: 5px;
    flex-direction: row-reverse;
    align-items: center;
    position: relative;
}
.log_in_wraper {
    display: grid;
    place-items: center;
}
.log_in {
    padding: 10px;
}
.log_in::after {
    display: none;
}
.cart_wraper {
    position: relative;
    padding: 10px;
    display: grid;
    place-items: center;
}
.cart__item_count {
    width: 13px;
    padding: 2px;
    right: 0;
    top: 0;
    height: 13px;
    border-radius: 50%;
    background-color: #ededed;
    font-size: 11px;
    position: absolute;
    display: grid;
    place-items: center;
    box-sizing: content-box;
}
.icons_header {
    box-sizing: content-box;
    transition: all 200ms ease-in-out;
    cursor: pointer;
    border: 1px solid transparent;
    fill: #E5E4E2;
}

.logo {
    width: 135px;
}
#imges {
    visibility: visible;
    transition: opacity 0.5s ease-in-out;
}
.hidden {
    opacity: 0;
    visibility: hidden;
}
.hidden_teams {
    opacity: 0;
    visibility: hidden;
}
.cart_section {
    width: 0px;
    height: calc(100svh- 60px);
    position: fixed;
    right: 0;
    top: 60px;
    background-color: white;
    z-index: 129784;
    box-shadow: 3px 8px 10px #adadad;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    border-top-left-radius: 10px;
}
.cart_section_menu {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 6px 7px;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
}
.cart_section_menu > h1 {
    font-size: 13px;
    font-weight: 500;
    color: #0c1524;
}
.ProsuctInCartSection{
    width: 100%;
    height: calc(100svh - 165px);
    display: flex;
    flex-direction: column;
    align-items: center; 
    overflow: auto;
    background-color: white;
}
.MoveToCheckout {
    width: 100%;
    padding: 10px 0px;
    color: white;
    background-color: #0c1524;
    transition: all 0.25s ease;
    border: #0c1524 1px solid;
    pointer-events: all;
    cursor: pointer;
}
.MoveToCheckout:hover {
    background: none;
    border: 1px solid #0c1524;
    color: #0c1524;
}


.ProsuctInCartSection::-webkit-scrollbar {
    width: 0px;
}
  
  /* Track */
  .ProsuctInCartSection::-webkit-scrollbar-track {
    display: none;     
  }
   
  /* Handle */
  .ProsuctInCartSection::-webkit-scrollbar-thumb {
    background: transparent;
  }
  
  /* Handle on hover */
  .ProsuctInCartSection::-webkit-scrollbar-thumb:hover {
    background: transparent;
  }
.Item_wraper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
    transition: all 1s ease-in-out;
}
.Item_cart_details {
    width: 180px;
}
#item_name {
    font-size: 12px;
}
#item_price {
    font-size: 13px;
    margin-top: 5px;
    font-weight: 600;
}
.bi-trash3 {
    box-sizing: content-box;
    padding: 5px;
    fill: red;
    cursor: pointer;
    pointer-events: all;
}
.TotalPrice {
    width: 100%;
    padding: 5px 7px;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid whitesmoke;
}
.TotalPrice > p {
    font-size: 17px;
    font-weight: 400;
}
.TotalPrice > p:last-child {
    font-weight: 600;
}
.banner {
    width: 100%;
    height: 100svh; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 100px 10%;
    background: url(./images/backgrounds/chosen-one.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
    top: auto;
    top: 0;
}
.banner::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: transparent;
    backdrop-filter: brightness(60%);
    -webkit-backdrop-filter: brightness(60%);
}
.text_banner_section {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}
.text_banner_section > button, .text_banner_section > p, .text_banner_section > h1 {
    z-index: 3;
}
.text_banner_section > h1 {
    font-size: 50px;
    letter-spacing: 0.2cm;
}
.text_banner_section > p {
    width: 60%;
    font-size: 18px;
}
.text_banner_section > button {
    padding: 8px;
    border-radius: 3px;
    background-color: #f45029;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-out;
}


.reviews_and_text_section {
    background: linear-gradient(whitesmoke 85%, transparent);    
    padding-bottom: 100px;
}
.reviews_text_section {
    text-align: center;
    padding: 10px 0px 10px 0px;
    color: #0c1524;
}
.reviews_text_section > h1 {
    font-size: 30px;
    padding: 10px;
}
.reviews_section {
    width: 100%;
}
.gallery_wraper_grid {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(5, 1fr);
    width: 100%;
    height: fit-content;
    gap: 10px;
    position: relative;
    padding: 15px;
    padding-bottom: 5px;
}
.card {
    padding: 10px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px #E5E4E2 inset;
}
.username_date_pic {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
    padding-bottom: 7px;
    color: grey;
}
.img_user {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 12px;
    color: black;
}
.profile_pic {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}
#date {
    align-self: center;
}
.stars_wraper {
    display: flex;
    gap: 3px;
    padding-bottom: 10px;
}
.stars_wraper > i {
    font-size: 15px;
    color: #FFDF00;
}
.blue {
    grid-row: 1/4;
    grid-column: 1/4;
}
.red {
    grid-row: 1/4;
    grid-column: 4/7;
}
.yellow {
    grid-row: 1/4;
    grid-column: 7/11;
}
.green {
    grid-row: 4/6;
    grid-column: 7/11;
}
.orenge {
    grid-row: 4/6;
    grid-column: 1/7;
}
.review_text {
    font-size: 15px;
}


.filter_products {
    background: whitesmoke;
    padding: 7px 11px;
    width: fit-content;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #ededed;
    transition: all 0.2s ease-in-out;
    margin-bottom: 15px;
    position: relative;
}
.filter_products:hover {
    background: #ededed;
}
.ul_filter {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 77;
    left: 105%;
    background: white;
    top: 0%;
    border-radius: 4px;
    overflow: hidden;
    border: 0px solid #ededed;
    height: 0%;
    transition: all ease-in-out 0.5s;
}
.height_fit {
    height: auto;
    border: #ededed 1px solid;
}
.ul_filter > li {
    list-style: none;
    font-size: 16px;
    width: 120px;
    padding: 7px 15px 7px 5px;
}
.ul_filter > li:hover {
    background: whitesmoke;
}
.products_section {
    position: relative;
    display: grid;
    grid-template-columns: repeat(5, 18%);
    justify-content: center;
    gap: 30px;
    justify-items: center;
}
.product_box:hover {
    box-shadow: 0px 0px 10px grey;
    
}
.product_box_image {
    display: grid;
    place-items: center;
    background: linear-gradient(to top, whitesmoke, white);
    padding: 10px 5px;
}
.basketballs {
    width: 225px;
    transition: all 0.4s ease-in-out;
}
.product_info_wraper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 0px 3%;
}
.product_heading {
    font-size: 18px;
    font-weight: 300;
}
.product_price {
    font-size: 11px;
    color: #0c1524;
}
.product_box_buttons_wraper {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    gap: 4px;
    justify-content: space-between;
    position: relative;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    pointer-events: none;
}
._buy_now_wraper {
    width: 40%;
    background-color: #0c1524;
    display: grid;
    place-items: center;
    pointer-events: all;
}
.buy_now {
    fill: white;
}
.sizes_wraper {
    width: 100%;
    display: flex;
    gap: 10px;
    padding: 0px 3%;
    margin-top: 0px;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    margin-bottom: 5px;
}
.sizes_wraper > p {
    text-align: center;
    color: black;
    font-size: 12px;
    font-weight: 600;
}
.shop_buttons {
    cursor: pointer;
    background: white;
    color: #0c1524;
    border: none;
    padding: 6%;
    width: 80%;
    border: 1px solid #0c1524;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    z-index: 100;
    pointer-events: all;
}
.shop_buttons:hover {
    background-color: #0c1524;
    color: white;
    border-color: white;
}
.shop_buttons > p {
    transition: all 0.2s ease-in-out;
}
.Up_coming_item {
    background: url(./images/basketballs/Other_SHirt.jpg);
    background-position: center center;
    background-size: cover;
    position: relative;
    justify-content: end !important;
    gap: 20px !important;
    padding: 0px 5px 10px 5px !important;
    display: flex;
    box-sizing: border-box;
    flex-direction: column;
    height: auto;
    border: none;
}
.Up_coming_item:before {
    display: none !important;
}
.Up_coming_item:hover {
    border: none;
    box-shadow: none;
}
.Up_coming_item > h1 {
    font-size: 25px;
    z-index: 2;
    color: white;
    text-align: left !important;
    padding-left: 10%;
    z-index: 5;
}
.Up_coming_item > button {
    width: 80%;
    transition: all 0.3s ease-in-out;
    z-index: 5;
    background: black;
    border:  1px solid black;
    color: white;
}
.Up_coming_item > button:hover {
    border: 1px solid transparent;
    background: white;
    color: black;
    box-shadow: #E5E4E2 0px 0px 10px;
}
.Up_coming_item::after {
    content: '';
    width: 100% !important;
    height: calc(100%) !important;
    position: absolute !important;
    top: 0 !important;
    padding: 0 !important;
    transition: all 0.2s ease-in-out !important;
    background: transparent !important;
    backdrop-filter: brightness(65%) !important;
    -webkit-backdrop-filter: brightness(65%) !important;

}
.Up_coming_item:hover::after {
    backdrop-filter: brightness(40%) !important;
    -webkit-backdrop-filter: brightness(40%) !important;
}


.contect_us_section {
    width: 100%;
    height: fit-content;
    background: #ededed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-bottom: 80px;
}
.Contact_us_block {
    top: 0;
    position: relative;
    width: 100%;
    padding: 35px 0px;
    display: grid;
    place-items: center;
    background: linear-gradient(white, #ededed);
}
.Contact_us_block > h1 {
    font-size: 40px;
    color: #0c1524;
    text-align: center;
}
.contact_us_form_wraper {
    width: 100%;
    height: 90%;
    padding: 50px 5%;
} 
.form_contact_us, .inputs_and_buttons_wraper, .inputs_wraper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.form_contact_us {
    display: flex;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
}
.inputs_and_buttons_wraper {
    gap: 20px;   
}
.inputs_wraper {
    gap: 20px;
}
.input_and_title_wraper {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.input_form {
    width: 100%;
    padding-left: 10px;
    padding: 10px;
    border: none;
    color: black;
    font-size: 15px;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #ededed;
    border: 1px solid transparent;
    transition: all 0.2s 0.01s;
}
.input_form::placeholder {
    color: black;
}
.input_form:focus {
    width: 102%;
    outline: none;
}
.invalid {
    outline: none;
    border: 1px solid #FF0000;
    border-radius: 5px;
    position: relative !important;
}
.valid {
    outline: none;
    border: 1px solid green;
    border-radius: 5px;
    position: relative !important;
}
.selection {
    width: 70%;
    display: flex;
    flex-direction: column;
    border: white 1.5px solid;
    padding: 0px 0px;
    border-radius: 5px;
    background: white;
    color: black;
    box-shadow: 0px 0px 10px #ededed;
}
.button_dropdown /* the 'Whats the problam' p */{
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
}
.drop_down_menu {
    box-shadow: 0px 0px 10px #ededed;
    height: 0px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}
.show {
    height: 240px !important;
}
.option_form {
    background-color: white;
    width: 100%;
    padding: 5px 5px;
    cursor: pointer;
}
.option_form:hover {
    background: #ededed;
}
.option_form:first-child {
    color: #adadad;
}
.option_form:first-child:hover {
    background: none;
}
.text_area_form {
    max-width: 70%;
    min-width: 70%;
    min-height: 130px;
    border: none;
    border-radius: 3px;
    padding: 10px;
    box-shadow: 0px 0px 10px #ededed;
}
.button_wraper {
    width: 70%;
}       
.send_button_contact_us {
    width: fit-content;
    padding: 6px 20px;
    color: white;
    border: none;
    align-self: flex-start;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 600;
    overflow: hidden;
    position: relative;
    display: grid;
    place-items: center;
    background: #fe8c00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f83600, #fe8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
}
.send_button_contact_us::before {
    content: '';
    background: #fe8c00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f83600, #fe8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */;
    animation: rotate 3s linear infinite;
    position: absolute;    
}
.send_button_contact_us:hover::before {
    width: 150%;
    height: 400%;
}
.send_button_contact_us::after {
    content: 'Send';
    width: 100%;
    height: 100%;
    position: absolute;
    display: grid;
    place-items: center;
}


.footer {
    background: linear-gradient(#ededed, #0c1524);
    height: fit-content;
    width: 100%;
    display: grid;
    place-items: center;
    position: relative;
    padding: 105px 3%;
}

.footer_contact_section {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 35px;
}
.footer_contact_section a {
    width: fit-content;
}
.ul_footer {
    list-style: none;
    color: white;
}
.footer_contact_text {
    display: flex;
    align-items: flex-start;
}
.location {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    width: 37.2093%;
}
#p_location {
    width: fit-content;
}
.email_phone_number {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 25.2369%;
}
.phone_flex_email {
    display: flex;
    align-items: center;
    color: white;
}
.image_phone_email {
    margin-right: 23px;
    width: 17px;
    height: 17px;
    fill: white;
}
.email_and_phone{
    width: 15px;
    height: 15px;
}
.about_us {
    display: flex;
    flex-direction: column;
    gap: 21px;
    width: 12.317%;
}
.terms_policy {
    display: flex;
    flex-direction: column;
    gap: 23px;
    width: 15.59%;
}
.social_media {
    display: flex;
    gap: 10px;
}
.social_media:hover {
    color: hsl(176, 68%, 64%);
}
.social_media_a {
    text-decoration: none;
    border: 1px solid white;
    border-radius: 50%;
    cursor: pointer;
    box-sizing: content-box;
}
.social_media_a:hover {
    border: 1px solid #0c1524;
}
.social_medis_icons {
    width: 13px;
    height: 13px;
    display: grid;
    place-items: center;
    padding: 10px;
    box-sizing: content-box;
    fill: #ffffff;
}
.social_medis_icons:hover {
    fill: #0c1524;
}
.footer_fontweight_hover {
    width: fit-content;
    transition: all 0.2s ease-in-out;
}
.footer_fontweight_hover:hover {
    font-weight: 600;
    cursor: pointer;
}
.product_box {
    overflow: hidden;
    align-items: center;
    position: relative;
    padding: 5px;
    align-content: space-between;
    justify-content: center;
    height: auto;
    display: flex; 
    cursor: pointer;
    box-sizing: content-box;
    height: calc(100% - 2px);
    width: calc(100% - 2px);
}
 .product_box::before {
    content: '';
    width: 200%;
    height: 50%;
    background: #f12711;  /* fallback for old browsers */
    background: linear-gradient(#FF0000 ,#0c1524, white);
    
    position: absolute;
    z-index: 2;
    display: block;
    opacity: 0;
 }
 .product_box:hover::before{
    animation: rotate 3s linear infinite;
    opacity: 1;
}
.product_box:hover {
    box-shadow: 0px 0px 10px darkgray;
}

 @keyframes rotate {
  0% {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
 .product_box::after {
    content: '';
    width: calc(100% - 2px);
    height: calc(100% - 2px);
    background: white;
    z-index: 3;
    position: absolute;
}
 .product_box_wraper {
    z-index: 4;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
    height: 100%;
    justify-content: space-between;
 }
.Nike_box {
    height: 100px;
    grid-column: 1/-1;
    display: flex; 
    flex-wrap: wrap;
    gap: 10%;
    position: relative;
    box-shadow: none !important;
    height: fit-content !important;
}
.Nike_box::before {
    content: '';
    height: 150%;
    width: 150px;
    background: linear-gradient(to left, transparent, white, transparent);
    position: absolute;
    rotate: 45deg;
    left: 0;
}

.Nike_box:hover::before {
    animation: swoosh 1.7s forwards;
}

@keyframes swoosh {
    from {
        left: 0;
    }
    to {
        left: 100%;
    }
}


.Nike_box:hover {
box-shadow: none;
}
.Nike_box>a {
    width: 6%;
}
.Nike_box>a>img {
    width: 100%;
}
.Nike_box::after {
    display: none;
}
@media only screen and (max-width: 900px) {
    .gallery_wraper_grid {
        grid-template-rows: repeat(3, 1fr);
    }
    .orenge, .green {
        grid-row: 3/-1;
    }
    .yellow {
        grid-row: 2/3;
        grid-column: 1/-1;
    }
    .red, .blue {
        grid-row: 1/1;
    }
    .red , .orenge{
        grid-column: 1/6;
    }
    .blue , .green{
        grid-column: 6/-1;
    }
}
@media only screen and (max-width: 550px) {
    .review_text {
        font-size: 14px;
        line-height: 5mm;
    }
    .gallery_wraper_grid {
        grid-template-rows: repeat(5, 1fr);
        grid-template-columns: repeat(1, 1fr);
    }
    .orenge, .blue, .red, .yellow, .green {
        grid-column: 1/-1;
    }
    .red {
        grid-row: 1/2;
    }
    .blue {
        grid-row: 2/3;
    }
    .green {
        grid-row: 3/4;
    }
    .orenge {
        grid-row: 4/5;
    }
    .yellow {
        grid-row: 5/6;
    }

}
@media only screen and (max-width: 1050px) {
    .banner {
        padding: 10%;
    }
    .text_banner_section {
        text-align: center;
        align-items: center;
    }
    .text_banner_section > h1 {
        font-size: 30px;
    }
    .text_banner_section > p {
        width: 85%;
        font-size: 14px;
    }
    .text_banner_section > button {
        padding: 6px 26px;
        border-radius: 30px;
    }
    .products_section {
        justify-content: space-around;
        grid-template-columns: repeat(4, 22%);
    }
    .product_box_buttons_wraper {
        opacity: 1;
    }
    .sizes_wraper {
        opacity: 1;
    }
    .product_box_wraper {
        gap: 15px;
    }
    .product_box {
        box-shadow: 0px 0px 10px #E5E4E2;
    }
    .product_heading {
        font-size: 16px;
        font-weight: 300;
    }
    .product_price {
        font-size: 9px;
    }
    nav {
        width: 100%;
        flex-direction: row-reverse;
        padding: 0px 10px;
    }
    .ul_header {
        display: none;
        pointer-events: none;
    }
    .bars-wraper {
        width: calc(100%/3);
        display: flex;
        pointer-events: all;
        padding: 10px 0px
    }
    .login_cart_wraper_res {
        width: calc(100%/3);
        display: flex;
        gap: 5px;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: flex-start;
        position: relative;
    }
    .logo_wraper {
        width: calc(100%/3);
        display: grid;
        place-items: center;
    }
    .sizes_wraper > p {
        font-size: 10px;
    }
    .reviews_gallery_wraper {
        grid-template-columns: repeat(2, 290px);
    }
    .button_wraper {
        opacity: 1 !important;
    }
    .Nike_box>a  {
        width: 9%;
    }

}
@media only screen and (max-width: 900px) {
    .products_section {
        grid-template-columns: repeat(3, 28%);
        justify-content: space-around;
        row-gap: 40px;
    }
}
@media only screen and (max-width: 600px) {
    .products_section {
        gap: 30px;
        grid-template-columns: repeat(2, 45%);
        justify-content: center;
    }
    .input_and_title_wraper, .selection, .button_wraper {
        width: 90%;
    }
    .text_area_form {
        max-width: 90%;
        min-width: 90%;
    }
    .reviews_gallery_wraper {
        grid-template-columns: repeat(1, 280px);
    }
    .Nike_box>a {
        width: 11%;
    }
}
@media only screen and (max-width: 475px){
    .text_banner_section > p {
        width: 90%;
    }
    .banner {
        padding: 100px 2%;
    }
}
@media only screen and (max-width: 360px) {
    .product_heading {
        font-size: 14px;
    }
}

*::selection {
    background: #adadad;
    backdrop-filter: invert(20%);
}
@media only screen and (max-width: 1078px) {
    .footer_contact_section {
        width: 97%;
    }
}
@media only screen and (max-width: 900px) {
    .footer {
        height: auto;
    }
    .footer_contact_section {
        margin-top: 30px;
    }
    .footer_contact_text {
        flex-direction: column;
        gap: 50px;
    }
    .ul_footer {
        width: 100%;
    }

}
@media only screen and (max-width: 506px) {
    .footer_contact_section {
        margin-top: 60px;
    }
    .Nike_box>a  {
        width: 13%;
    }
    .products_section {
        row-gap: 30px;
        grid-template-columns: repeat(2, 42%);
    }
}
@media only screen and (max-width: 405px) {
    .footer_contact_section {
        margin-top: 70px;
    }
    .footer_contact_text {
        padding-left: 25px;
    }
    #footer_logo {
        padding-left: 25px;
    }
}
