@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
html {
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
     
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: orangered;
    border-radius: 30px; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #f45029;
  }
body {
    width: 100%;
    height: fit-content;
    overflow-x: hidden;
}
header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    position: fixed;
    background: transparent;
    z-index: 99;
    transition: all 0.35s ease-in-out;
}
nav {
    width: 93%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bars-wraper {
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 20px;
    cursor: pointer;
    display: none;
    pointer-events: none;
}
.bars {
    width: 100%;
    height: 3px;
    border-radius: 30px;
    background-color: #f45029;
}
#bar_2 {
    width: 75%;
    align-self: flex-end;
}
#bar_3 {
    width: 50%;
    align-self: flex-end;
}
.ul_header {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.li_header {
    width: 80px;
    height: 100%;
    color: orangered;
    font-size: 13px;
    font-weight: 500;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    position: relative;
    display: grid;
    place-items: center;
}
.li_header::after {
    content: '';
    width: 0;
    height: 0;
    background-color: orangered;
    position: absolute;
    bottom: 0;   
    left: 0;
    transition: all 200ms ease-in-out;
}
.li_header:hover::after {
    width: 100%;
    height: 2px;
}
.icon_header {
    box-sizing: content-box;
    transition: all 200ms ease-in-out;
    padding: 7px;
    cursor: pointer;
}
.icon_header:hover {
    background: #ededed;
    border-radius: 50%;
}
.logo {
    width: 135px;
}
#imges {
    visibility: visible;
    transition: opacity 0.5s ease-in-out;
}
.hidden {
    opacity: 0;
    visibility: hidden;
}
.hidden_teams {
    opacity: 0;
    visibility: hidden;
}
.banner {
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 100px 10%;
    background: url(./images/backgrounds/chosen-one.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
}
.banner::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: transparent;
    backdrop-filter: brightness(60%);
}
.text_banner_section {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}
.text_banner_section > button, .text_banner_section > p, .text_banner_section > h1 {
    z-index: 3;
}
.text_banner_section > h1 {
    font-size: 50px;
    letter-spacing: 0.2cm;
}
.text_banner_section > p {
    width: 60%;
    font-size: 18px;
}
.text_banner_section > button {
    padding: 8px;
    border-radius: 3px;
    background-color: #f45029;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-out;
}
.products_section {
    position: relative;
    padding: 60px 5%;
    display: grid;
    grid-template-columns: repeat(5, 18%);
    justify-content: center;
    gap: 30px;
}
.product_box {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    cursor: pointer;
    padding: 0px 0px 6px 0px;
    border: 1px solid transparent;
    box-sizing: content-box;
    overflow: hidden;
}
.product_box:hover {
    border: 1px solid #E5E4E2;
    box-shadow: 0px 0px 10px grey;
    
}
.product_box_image {
    width: 100%;
    display: grid;
    place-items: center;
    background: linear-gradient(to top, #E5E4E2, white);
    padding: 60px 12.5px 0px 12.5px;
}
.basketballs {
    transition: all 0.4s ease-in-out;
}
.product_info_wraper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 0px 3%;
}
.product_heading {
    font-size: 18px;
    font-weight: 300;
}
.product_price {
    font-size: 11px;
}
.product_box_buttons_wraper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: space-between;
    position: relative;
    top: 7px;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    pointer-events: none;
}
.shop_buttons {
    cursor: pointer;
    background: black;
    color: white;
    border: none;
    padding: 15px;
    width: 100%;
    border: 1px solid black;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.Up_coming_item {
    background: url(./images/basketballs/Other_SHirt.jpg);
    background-position: center center;
    background-size: cover;
    position: relative;
    justify-content: end;
    gap: 20px;
    padding: 0px 0px 20px 0px;
    height: auto;
    border: none;
}
.Up_coming_item:hover {
    border: none;
    box-shadow: none;
}
.Up_coming_item > h1 {
    font-size: 25px;
    z-index: 2;
    color: white;
    text-align: left;
    padding-left: 10%;
}
.Up_coming_item > button {
    width: 80%;
    transition: all 0.3s ease-in-out;
}
.Up_coming_item > button:hover {
    border: 1px solid transparent;
    background: white;
    color: black;
    box-shadow: #E5E4E2 0px 0px 10px;
}
.Up_coming_item::after {
    content: '';
    width: 100%;
    height: calc(100%);
    position: absolute;
    top: 0;
    padding: 0;
    transition: all 0.2s ease-in-out;
    background: transparent;
    backdrop-filter: brightness(65%);
}
.Up_coming_item:hover::after {
    backdrop-filter: brightness(40%);
}
@media only screen and (max-width: 900px) {
    .text_banner_section {
        text-align: center;
        align-items: center;
    }
    .text_banner_section > h1 {
        font-size: 40px;
    }
    .text_banner_section > p {
        width: 85%;
        font-size: 15px;
    }
    .text_banner_section > button {
        padding: 8px 30px;
        border-radius: 30px;
    }
    .products_section {
        gap: 20px;
        grid-template-columns: repeat(3, 30%);
    }
    .product_heading {
        font-size: 16px;
        font-weight: 300;
    }
    .product_price {
        font-size: 9px;
    }
    .ul_header {
        display: none;
        pointer-events: none;
    }
    .bars-wraper {
        display: flex;
        pointer-events: all;
    }
}
@media only screen and (max-width: 600px) {
    .products_section {
        gap: 30px;
        grid-template-columns: repeat(2, 45%);
    }
}
@media only screen and (max-width: 475px){
    .text_banner_section > p {
        width: 90%;
    }
    .banner {
        padding: 100px 5%;
    }
}
@media only screen and (max-width: 360px) {
    .product_heading {
        font-size: 14px;
    }
}