@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}
html {
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
     
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: orangered;
    border-radius: 30px; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #f45029;
  }
body {
    width: 100%;
    height: fit-content;
    position: relative;
}
.responsive_menu {
    width: 100%;
    height: 0%;
    overflow: hidden;
    position: absolute;
    top: 60px;
    right: 0;
    z-index: 99;
    background: white;
    transition: all 0.55s ease-in-out;
}
.scale_x {
    width: 100% !important;
    height: 350px !important;
}
.backdrop {
    position: absolute;
    width: 100%;
    height: 0%;
    top: 60px;
    display: block;
    z-index: 99;
    background: rgba(0,0,0,0.6);
    z-index: 55;
}
.backdrop-display {
    height: 100% !important;
}

.ul_responsive_wraper {
    width: 100%;
    height: 100%;
}
.Heading__ul_res {
    color: #adadad; 
}
.ul_responsive {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1%;
    justify-content: space-between;
}
.li_responsive {
    width: 100%;
    list-style: none;
    color: black;
    font-size: 15px;
    text-align: center;
    padding: 3% 0px;
    text-decoration: none;
}
.li_info:nth-child(1) {
    border-top: #E5E4E2 1px solid;
}
.login_button_res {
    padding: 7px 22px;
    border: 1px solid black;
    border-radius: 30px;
    text-decoration: none;
    color: black;
    font-size: 14px;
}
.social_media_menu {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: transparent;
}
.bi {
    fill: black;
    width: 14px;
    height: 14px;
}
header {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    background: transparent;
    z-index: 99;
    transition: all 0.35s ease-in-out;
    backdrop-filter: blur(8px);
    -webkit-backdrop-filter: blur(8px);
}
.white_back {
    background: white !important;
}
nav {
    width: 93%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.bars-wraper {
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 20px;
    cursor: pointer;
    display: none;
    pointer-events: none;
    padding: 10px;
    box-sizing: content-box;
    background: transparent;
    border: none;
}
.bars {
    width: 100%;
    height: 3px;
    border-radius: 30px;
    background-color: #f45029;
    transition: left 0.3s ease-in-out;
}
#bar_2 {
    width: 75%;
    align-self: flex-end;
    position: relative;
}
#bar_3 {
    width: 50%;
    align-self: flex-end;
    position: relative;
}
.active {
    align-self: flex-start !important;
}
.ul_header {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.li_header {
    width: 80px;
    height: 100%;
    font-size: 13px;
    text-decoration: none;
    list-style: none;
    cursor: pointer;
    position: relative;
    display: grid;
    place-items: center;
    color: white;
}
.li_header::after {
    content: '';
    width: 0;
    height: 0;
    background-color: orangered;
    position: absolute;
    bottom: 0;   
    left: 0;
    transition: all 200ms ease-in-out;
}
.li_header:hover::after {
    width: 100%;
    height: 2px;
}
.cart_wraper {
    position: relative;
    padding: 10px;
    display: grid;
    place-items: center;
}
.cart_wraper:before {
    content: '0';
    width: 15px;
    right: 0;
    top: 0;
    height: 15px;
    border-radius: 50%;
    background-color: #ededed;
    font-size: 11px;
    position: absolute;
    display: grid;
    place-items: center;
}
.icons_header {
    box-sizing: content-box;
    transition: all 200ms ease-in-out;
    cursor: pointer;
    border: 1px solid transparent;
    fill: #E5E4E2;
}

.logo {
    width: 135px;
}
#imges {
    visibility: visible;
    transition: opacity 0.5s ease-in-out;
}
.hidden {
    opacity: 0;
    visibility: hidden;
}
.hidden_teams {
    opacity: 0;
    visibility: hidden;
}
.banner {
    width: 100%;
    height: 100vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 100px 10%;
    background: url(./images/backgrounds/chosen-one.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
    top: auto;
}
.banner::before {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: transparent;
    backdrop-filter: brightness(60%);
    -webkit-backdrop-filter: brightness(60%);
}
.text_banner_section {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 30px;
}
.text_banner_section > button, .text_banner_section > p, .text_banner_section > h1 {
    z-index: 3;
}
.text_banner_section > h1 {
    font-size: 50px;
    letter-spacing: 0.2cm;
}
.text_banner_section > p {
    width: 60%;
    font-size: 18px;
}
.text_banner_section > button {
    padding: 8px;
    border-radius: 3px;
    background-color: #f45029;
    color: white;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease-out;
}


.reviews_and_text_section {
    background: linear-gradient(#ededed 85%, transparent);    
    padding-bottom: 100px;
}
.reviews_text_section {
    text-align: center;
    padding: 20px 0px 10px 0px;
}
.reviews_text_section > h1 {
    font-size: 35px;
    padding: 10px;
}
.reviews_text_section > p {
    font-weight: 500;
    font-size: 15px;
}
.reviews_section {
    width: 100%;
    height: 450px;
    display: flex;
    gap: 30px;
    justify-content: center;
    overflow: hidden;
    position: relative;
    flex-direction: row-reverse;

}
.scroll_down_buttons_reviews{
    display: flex;
    justify-content: center;
    flex-direction: row;
    position: absolute;
    bottom: 0;
    gap: 15px;
    z-index: 33;
}
.bii {
    width: 25px;
    height: 40px;
    box-sizing: content-box;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.reviews_gallery_wraper {
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 290px);
    padding: 20px 0px;
    gap: 20px;
    align-items: center;
    align-content: space-between;
    top: 0;
}
.view_port {
    position: absolute;
    height: 430px;
    width: 100%;
    top: 20px;
    z-index: 5;
    background: linear-gradient(transparent 80%, #ededed);
}  
.card {
    height: 250px;
    background-color: white;
    border-radius: 15px;
    position: relative;
    transform: translateY(0px);
    transition: transform 0.4s ease-in-out;
    padding: 15px;
}
.review-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .review-title {
    font-size: 18px;
    margin: 0;
  }
  
  .review-rating {
    color: #ffd700;
    font-size: 16px;
  }
  
  .star {
    margin: 5px 3px 5px 0px;
    color: gold;
    font-size: 13px;
  }
  
  .review-text {
    font-size: 14px;
    line-height: 1.5;
  }
  
  .review-author {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
  }
  
  .author-avatar {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .author-name {
    font-size: 12px;
  }





.products_section {
    position: relative;
    padding: 60px 5%;
    display: grid;
    grid-template-columns: repeat(5, 18%);
    justify-content: center;
    gap: 30px;
}
.product_box {
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    cursor: pointer;
    padding: 0px 0px 6px 0px;
    border: 1px solid transparent;
    box-sizing: content-box;
    overflow: hidden;
}
.product_box:hover {
    border: 1px solid #E5E4E2;
    box-shadow: 0px 0px 10px grey;
    
}
.product_box_image {
    width: 100%;
    display: grid;
    place-items: center;
    background: linear-gradient(to top, #E5E4E2, white);
    padding: 60px 12.5px 0px 12.5px;
}
.basketballs {
    transition: all 0.4s ease-in-out;
}
.product_info_wraper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding: 0px 3%;
}
.product_heading {
    font-size: 18px;
    font-weight: 300;
}
.product_price {
    font-size: 11px;
}
.product_box_buttons_wraper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4px;
    justify-content: space-between;
    position: relative;
    top: 7px;
    opacity: 0;
    transition: opacity 0.4s ease-in-out;
    pointer-events: none;
}
.sizes_wraper {
    width: 100%;
    display: flex;
    gap: 10px;
    padding: 0px 3%;
}
.sizes_wraper > p {
    text-align: center;
    color: black;
    font-size: 12px;
    font-weight: 600;
}
.shop_buttons {
    cursor: pointer;
    background: black;
    color: white;
    border: none;
    padding: 15px;
    width: 100%;
    border: 1px solid black;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
    z-index: 2;
}
.Up_coming_item {
    background: url(./images/basketballs/Other_SHirt.jpg);
    background-position: center center;
    background-size: cover;
    position: relative;
    justify-content: end;
    gap: 20px;
    padding: 0px 0px 20px 0px;
    height: auto;
    border: none;
}
.Up_coming_item:hover {
    border: none;
    box-shadow: none;
}
.Up_coming_item > h1 {
    font-size: 25px;
    z-index: 2;
    color: white;
    text-align: left;
    padding-left: 10%;
}
.Up_coming_item > button {
    width: 80%;
    transition: all 0.3s ease-in-out;
}
.Up_coming_item > button:hover {
    border: 1px solid transparent;
    background: white;
    color: black;
    box-shadow: #E5E4E2 0px 0px 10px;
}
.Up_coming_item::after {
    content: '';
    width: 100%;
    height: calc(100%);
    position: absolute;
    top: 0;
    padding: 0;
    transition: all 0.2s ease-in-out;
    background: transparent;
    backdrop-filter: brightness(65%);
    -webkit-backdrop-filter: brightness(65%);

}
.Up_coming_item:hover::after {
    backdrop-filter: brightness(40%);
    -webkit-backdrop-filter: brightness(40%);
}


.contect_us_section {
    width: 100%;
    height: fit-content;
    background: #ededed;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 100px;
    padding-bottom: 80px;
}
.Contact_us_block {
    position: absolute;
    width: 70%;
    padding: 35px 0px;
    display: grid;
    place-items: center;
    background: #fe8c00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f83600, #fe8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.Contact_us_block > h1 {
    font-size: 40px;
    color: white;
}
.contact_us_form_wraper {
    width: 100%;
    height: 90%;
    padding: 50px 5%;
} 
.form_contact_us, .inputs_and_buttons_wraper, .inputs_wraper {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}
.form_contact_us {
    display: flex;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    top: 100px;
}
.inputs_and_buttons_wraper {
    gap: 20px;   
}
.inputs_wraper {
    gap: 20px;
}
.input_and_title_wraper {
    width: 70%;
    display: flex;
    flex-direction: column;
    gap: 6px;
}
.input_form {
    width: 100%;
    padding-left: 10px;
    padding: 10px;
    border: none;
    color: black;
    font-size: 15px;
    background: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px #ededed;
    border: 1px solid transparent;
}
.input_form::placeholder {
    color: black;
}
.invalid {
    outline: none;
    border: 1px solid #FF0000;
    border-radius: 5px;
    position: relative !important;
}
.valid {
    outline: none;
    border: 1px solid green;
    border-radius: 5px;
    position: relative !important;
}
.selection {
    width: 70%;
    display: flex;
    flex-direction: column;
    border: white 1.5px solid;
    padding: 0px 0px;
    border-radius: 5px;
    background: white;
    color: black;
    box-shadow: 0px 0px 10px #ededed;
}
.button_dropdown /* the 'Whats the problam' p */{
    width: 100%;
    height: 100%;
    cursor: pointer;
    padding: 10px;
    font-size: 16px;
}
.drop_down_menu {
    box-shadow: 0px 0px 10px #ededed;
    height: 0px;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
}
.show {
    height: 240px !important;
}
.option_form {
    background-color: white;
    width: 100%;
    padding: 5px 5px;
    cursor: pointer;
}
.option_form:hover {
    background: #ededed;
}
.option_form:first-child {
    color: #adadad;
}
.option_form:first-child:hover {
    background: none;
}
.text_area_form {
    max-width: 70%;
    min-width: 70%;
    min-height: 130px;
    border: none;
    border-radius: 3px;
    padding: 10px;
    box-shadow: 0px 0px 10px #ededed;
}
.button_wraper {
    width: 70%;
}       
.send_button_contact_us {
    width: fit-content;
    padding: 6px 20px;
    background: #fe8c00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f83600, #fe8c00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f83600, #fe8c00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
    border: none;
    align-self: flex-start;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 600;
}






@media only screen and (min-width: 900px) {
    .responsive_menu {
        display: none;
        pointer-events: none;
    }
    .ul_header {
        display: flex;
        pointer-events: all;
    }
}
@media only screen and (max-width: 950px) {
    .banner {
        padding: 10%;
    }
    .text_banner_section {
        text-align: center;
        align-items: center;
    }
    .text_banner_section > h1 {
        font-size: 30px;
    }
    .text_banner_section > p {
        width: 85%;
        font-size: 14px;
    }
    .text_banner_section > button {
        padding: 6px 26px;
        border-radius: 30px;
    }
    .products_section {
        gap: 20px;
        grid-template-columns: repeat(3, 30%);
    }
    .product_heading {
        font-size: 16px;
        font-weight: 300;
    }
    .product_price {
        font-size: 9px;
    }
    .ul_header {
        display: none;
        pointer-events: none;
    }
    .bars-wraper {
        display: flex;
        pointer-events: all;
    }
    .sizes_wraper > p {
        font-size: 10px;
    }
    .reviews_gallery_wraper {
        grid-template-columns: repeat(2, 290px);
    }
}
@media only screen and (max-width: 600px) {
    .products_section {
        gap: 30px;
        grid-template-columns: repeat(2, 45%);
    }
    .input_and_title_wraper, .selection, .button_wraper {
        width: 90%;
    }
    .text_area_form {
        max-width: 90%;
        min-width: 90%;
    }
    .reviews_gallery_wraper {
        grid-template-columns: repeat(1, 280px);
    }
}
@media only screen and (max-width: 475px){
    .text_banner_section > p {
        width: 90%;
    }
    .banner {
        padding: 100px 2%;
    }
}
@media only screen and (max-width: 360px) {
    .product_heading {
        font-size: 14px;
    }
}




.body {
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
}
.wraper {
    width: 500px;
    height: 500px;
    background-color: whitesmoke;
    display: grid;
    place-items: center;
    position: relative;
    transition: all 1s;
    }
#rotare {
    rotate: 0deg;
}
.box {
    width: 50px;
    height: 50px;
    position: absolute;
}
#a {
    background-color: #f45029;
    transform: translate(
        calc(sin(180deg)* 250px),
        calc(cos(180deg)* 250px)
    );
}
#b {
    background-color: blue;
    transform: translate(
        calc(sin(-90deg)* 250px),
        calc(cos(-90deg)* 250px)
    );
}
#c {
    background-color: deeppink;
    transform: translate(calc(sin(0deg) * 250px), calc(cos(0deg) * 250px));
 }
 #d {
    background-color: gold;
    transform: translate(
        calc(sin(90deg)* 250px),
        calc(cos(90deg)* 250px)
    );
 }